<%
  stimulus_controller = local_assigns[:stimulus_controller]
  # Convert hyphens to underscores for Stimulus targets on the Rails side
  stimulus_target_prefix = stimulus_controller.gsub('-', '_')
%>

<div class="model-field">
  <label>LLM model</label>
  <%= select_tag :model, options_for_select([["Please select API key first", ""]]),
      { required: true, disabled: true,
        data: { "#{stimulus_target_prefix}-target": "model", action: "change->#{stimulus_controller}#updateSubmitButton" } } %>
</div>
