<%
  history = locals[:history] || []
  active_uuid = locals[:active_uuid]
%>

<% content_for :head do %>
  <%= stylesheet_link_tag 'sidebar', media: 'all' %>
<% end %>

<h2>History</h2>
<% if history.present? %>
  <div class="history-stack" data-controller="history">
    <% history.each_with_index do |ann, idx| %>
      <%= render 'layouts/history_card', locals: { ann: ann, next_ann: history[idx + 1], is_active: ann.uuid == active_uuid } %>
    <% end %>
    <svg class="history-arrows" data-history-target="svg"></svg>
  </div>
<% else %>
  <p class="history-empty">No history yet</p>
<% end %>
